.messageForm {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	gap: 10px;
	flex-grow: 1;
	width: 100%;
	max-width: 100%;
}

.textareaWrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	gap: 10px;
	width: 100%;
	padding: 7.5px 12px;
	background-color: var(--color-white);
	border-radius: 20px;
}

.textarea {
	width: 100%;
	min-height: 21px; // Минимальная высота (1 строка)
	max-height: 150px; // Максимальная высота (~6 строк)
	font-family: inherit;
	font-weight: 400;
	font-size: 16px;
	line-height: 130%;
	letter-spacing: 0.4px;
	outline: none;
	resize: none; // Запрет ручного изменения размера
	overflow: auto; // 🔹 Появляется скролл при превышении max-height

	// Скрываем скроллбар для чистоты (опционально)
	&::-webkit-scrollbar {
		width: 4px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--color-gray-200);
		border-radius: 2px;
	}
}

.button {
	width: 36px;
	min-width: 36px;
	height: 36px;
	padding: 0;
	color: var(--color-primary);
}
