$primary-color: #7769e1;
$danger-color: #f00;

// используется в выбранном чате
$primary-color: #615aa399;

// используется для кнопки при поступающем звонке
$green-color: #34c759;

// используется при текущем звонке в шапке
$green-light-color: #27c840;

// используется в сообщении от себя
$green-pale-color: #d8f5f0;

// используется в основном для шрифта
$gray-color: #747474;

// используется в основном для шрифта
$black-color: #1c1c1e;

// используется в основном для кнопок
$disabled-color: #e4e4e4;

$white-color: #fff;
