.form {
	margin: 0 auto;
}

.codeInput {
	padding: 10px;
	border-color: var(--color-primary);
}

.modal {
	width: 100%;
	height: auto;
	padding: 32px 20px;
	text-align: center;
}

.actions {
	display: block;
}

.modalTitle {
	margin-bottom: 16px;
}

.modalText {
	margin-bottom: 24px;
}

.btn {
	width: 100%;
}

.btn:not(:last-child) {
	margin-bottom: 16px;
}
