.flexContainer {
	display: flex;
	gap: 24px;
	height: 100%;
	overflow: hidden;
	width: 100%;

	// На планшетах и десктопах — горизонтально
	@media (min-width: 769px) {
		flex-direction: row;
	}

	// На мобильных — вертикально
	@media (max-width: 768px) {
		flex-direction: column;
		gap: 0;
	}
}
