.text_title {
	font-size: var(--font-size-24);
	font-weight: 600;
	color: var(--foreground-primary);
	word-break: break-word;
}

.text_text {
	font-size: var(--font-size-16);
	font-weight: 400;
	color: var(--foreground-secondary);
	word-break: break-word;
}

// Обрезка: однострочная
.text_truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.text {
	&.clamp-2,
	&.clamp-3 {
		display: -webkit-box;
		-webkit-box-orient: vertical;
		overflow: hidden;
		word-break: break-word;
	}

	&.clamp-2 {
		-webkit-line-clamp: 2;
	}

	&.clamp-3 {
		-webkit-line-clamp: 3;
	}
}
