@use '@/app/styles/mixins/mixin.scss' as *;

.BottomNav {
	display: flex;
	border-top: 0.33px solid rgba(0, 0, 0, 70%);
	background-color: var(--color-white);
	padding: 8px 16px 13px 8px;
	gap: 8px;

	@media (max-width: 575px) {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1000;
	}
}

.navBtn {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--color-gray-500);
	padding: 0 6px;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	transition: color 0.2s ease;

	&.active {
		@include interactive-state-color-only;
	}

	&:active {
		@include interactive-state-color-only;
	}
}

@media (hover: hover) and (pointer: fine) {
	.navBtn:hover {
		@include interactive-state-color-only;
	}
}

.navIcon {
	width: 24px;
	height: 24px;
}
