@use '@/app/styles/variables/variables.scss' as v;

.container {
	width: 100%;
	margin: 0 auto;
	padding: 0 16px;

	@media (min-width: v.$width-md) {
		padding: 0 20px;
	}

	@media (min-width: v.$width-lg) {
		max-width: v.$width-lg;
		padding: 0;
	}
}
