@use '@/app/styles/mixins/mixin.scss' as *;

.overlay {
	@include overlay-modal();
}

.modal {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-height: min(520px, 90vh);
	background: var(--color-white);
	border-radius: 8px;
	overflow-y: auto;
}

.content {
	flex: 1 1 auto;
}

.closeButton {
	position: absolute;
	top: 16px;
	right: 16px;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--color-gray-500);
	z-index: 100;

	@include focus-visible;
}

.closeIcon {
	font-size: 14px;
}

.actions {
	display: flex;
	gap: 8px;
	justify-content: flex-end;
}
