body {
	background-color: var(--color-white);
}

.mainLayout {
	display: flex;
	gap: 20px;
	flex: 1;
	min-height: 0;
	padding: 0 16px;
}

@media (max-width: 768px) {
	.mainLayout {
		padding: 0;
	}
}

.content {
	flex: 1;
	overflow-y: auto;
	border-radius: 8px;
}
