.homePage {
	border: none;
}

.btn {
	color: rgb(213, 230, 167);
	width: 150px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 1rem;
	gap: 0.5rem;
	transition: all 0.2s ease;

	&:hover {
		color: antiquewhite;
		background-color: #11096b;
	}

	&:focus-visible {
		outline: 1px solid var(--color-red);
		outline-offset: 2px;
	}
}

.modal {
	padding: 24px;
}

.btnCancel {
	color: var(--color-violet-500);
	padding: 4px 16px;
	width: 90px;
	height: 32px;
	font-size: 16px;

	&:focus-visible {
		outline: 2px solid var(--color-gray-500);
		outline-offset: 2px;
		border-radius: 8px;
	}
}

.btnDelete {
	color: var(--color-white);
	padding: 4px 16px;
	width: 90px;
	height: 32px;
	font-size: 16px;

	&:focus-visible {
		outline: 2px solid var(--color-gray-500);
		outline-offset: 2px;
		border-radius: 8px;
	}
}

.modalTitle {
	margin-bottom: 8px;
}

.modalText {
	margin-bottom: 24px;
}

.newModal {
	padding: 20px;
}

.checkbox {
	border: 1px solid var(--color-black);

	&:focus-visible {
		outline: 2px solid var(--color-gray-500);
		outline-offset: 2px;
		border-radius: 8px;
	}
}
