.container {
	width: 100%;
	margin: 0 auto;
	padding-inline: 10px;
	height: 100dvh;
	max-width: 1210px;
	display: flex;
	overflow: hidden;
	flex-direction: column;

	@media (max-width: 1200px) {
		padding: 0 20px;
	}

	@media (max-width: 768px) {
		padding: 0 16px;
	}
}

.left {
	max-width: none;
	width: 360px;
	margin: 0;
	background-color: var(--cont-bg-left);
	overflow-y: auto;
	height: 100dvh;

	@media (max-width: 768px) {
		width: 100%;
	}
}

.right {
	max-width: none;
	width: 744px;
	flex: 1;
	min-width: 0;
	margin: 0;
	background-color: var(--cont-bg-right);
	height: 100dvh;
	overflow-y: auto;

	@media (max-width: 768px) {
		width: 100%;
	}
}
