.container {
	width: 100%;
	margin: 0 auto;
	height: 100dvh;
	max-width: 1200px;
	display: flex;
	flex-direction: column;

	@media (max-width: 1200px) {
		padding: 0 20px;
	}

	@media (max-width: 768px) {
		padding: 0 16px;
	}
}

.sidebar {
	max-width: none;
	width: 360px;
	margin: 0;
	padding: 0;
	background-color: var(--color-gray-50);
	overflow-y: auto;
	height: 100dvh;

	@media (max-width: 768px) {
		width: 100%;
	}
}

.content {
	max-width: none;
	width: 744px;
	min-width: 0;
	margin: 0;
	padding: 0;
	background-color: var(--color-violet-50);
	height: 100dvh;
	overflow-y: auto;

	@media (max-width: 768px) {
		width: 100%;
		display: none; // при разработке логики это свойство убрать,, или изменить согласно логике показа сообщений!!!
	}
}

.wrapper {
	display: flex;
	gap: 24px;
	height: 100%;
	overflow: hidden;
	width: 100%;

	@media (max-width: 768px) {
		flex-direction: column;
		gap: 0;
	}
}
