.button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
	padding: 0;
	background: none;
	border: none;
	outline: inherit;
	color: var(--color-primary);
}
