.support {
	// background-color: transparent;
	// background-color: var(--color-violet-40);
}

.form {
	margin: 0 auto;
}

// .formItem {
// 	margin-bottom: 16px;
// }

.faqText {
	margin-bottom: 28px;
	color: var(--color-gray-500);
	font-family: inherit;
	font-weight: 400;
	font-size: 14px;
	line-height: 120%;
	letter-spacing: 0.4px;
	vertical-align: middle;

	@media screen and (max-width: 768px) {
		margin-bottom: 4px;
	}
}

.faqLink {
	color: var(--color-primary);
	font-family: inherit;
	font-weight: 400;
	font-size: inherit;
	line-height: 120%;
	letter-spacing: 0.4px;
}

.homeLink {
	width: 100%;
	height: 56px;
	background-color: var(--color-primary);
	color: var(--color-white);
	font-family: inherit;
	font-weight: 500;
	font-size: 18px;
	line-height: 120%;
	letter-spacing: 0.4px;
	text-align: center;
}
