.selectContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 4px;
}

.selectDay,
.selectMonth,
.selectYear {
	position: relative;
	height: 56px;
	justify-content: space-between;
	padding: 15px 12px 15px 10px;
	color: var(--color-black);
	font-family: inherit;
	font-weight: 400;
	font-size: 18px;
	line-height: 130%;
	letter-spacing: 0.4px;

	// background-color: var(--color-white);
	border-radius: 8px;
	border: solid 1px var(--color-gray-500);
	z-index: 1;
}

.selectDay {
	width: 80px;
}

.selectMonth {
	width: 133px;
}

.selectYear {
	width: 107px;
}

.selectDay:focus,
.selectMonth:focus,
.selectYear:focus {
	border-color: transparent;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	outline: 2px solid var(--color-primary);
}

.iconDown {
	position: absolute;
	top: 24px;
	right: 12px;
	width: 12px;
	height: 7.4px;
	color: var(--color-gray-500);
	z-index: 0;
}

.selectWrapper {
	position: relative;
	background-color: var(--color-white);
	border-radius: 8px;
}
