.inputWrapper {
	display: flex;
	flex-direction: column;
	gap: 4px;
	width: 100%;
	background-color: transparent;
}

.label {
	margin-bottom: 4px;
}

.textarea {
	min-height: 219px;
	max-height: 219px;
	resize: none;
}

.input {
	height: 56px;
}

.input,
.textarea {
	width: 100%;

	// max-width: 328px;
	padding: 16px 12px;
	font-size: 16px;
	color: var(--foreground-primary);
	background-color: var(--color-white);
	border: 1px solid transparent;
	border-radius: 8px;

	&::placeholder {
		color: var(--foreground-secondary);
	}

	&:focus {
		border-color: transparent;
		outline: 1px solid var(--color-primary);
	}

	@media screen and (max-width: 768px) {
		border-color: var(--color-gray-500);
	}
}

.error {
	border-color: transparent;
	outline: 2px solid var(--color-red);

	&:focus {
		border-color: transparent;
		outline: 2px solid var(--color-red);
	}
}

.messageShort {
	height: 56px;
	overflow-y: auto;
}
